Repository SSAFY12-B107/OmyPIc: changes, and which Jenkins stages are due for each by the changed paths.
All: Backend, Frontend

Path conditions:
  Backend: (any of: backend/**) or (any of: Backend/**)
  Frontend: (any of: frontend/**) or (any of: Frontend/**)

[feat/yunha]단일 랜덤 문제 db 저장, feedback 저장 기능 추가.
  Backend/api/tests_api.py
  Backend/models/test.py
  Backend/schemas/test.py
  Backend/services/ai_test.py
  Backend/services/evaluator.py
  Backend/services/test_generator.py
  Backend/services/test_service.py
Due: Backend

[fix/yunha]user, test모델에 추가한 필드들 db 마이그레이션 완료
  Backend/scripts/add_categorical_limit.py
Due: Backend

[refactor/yunha]categorical_test_count 필드 미존재 router에 업데이트
  Backend/api/auth.py
  Backend/api/tests_api.py
  Backend/api/users.py
  Backend/scripts/scheduler.py
  Backend/scripts/userlimit_manual_reset.py
  Backend/services/user.py
Due: Backend

[refactor/yunha]categorical_test_count 필드 history router에 업데이트
  Backend/schemas/test.py
Due: Backend

[fix] 모의고사 페이지 1차 피드백 토대로 ux, 기능 수정
  Frontend/.env.production.template
  Frontend/src/components/test/RecordItem.module.css
  Frontend/src/components/test/RecordItem.tsx
  Frontend/src/components/test/TestTypeButton.tsx
  Frontend/src/hooks/useHistory.ts
  Frontend/src/pages/test/TestMain.module.css
  Frontend/src/pages/test/TestMain.tsx
  Frontend/src/store/testSlice.ts
Due: Frontend

fix: background survey data 수정(back과 매핑)
  Frontend/src/data/surveyData.json
Due: Frontend

feat: hotjar 설치 및 관련 코드 추가 #S12P21B107-188
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/App.tsx
Due: Frontend

feat: env template에 hotjar id 추가
  Frontend/.env.production.template
Due: Frontend

[fix] Jenkins CI File change
  Jenkinsfile.ci
Due: none

fix: 메인 페이지 chart 스타일 수정
  Frontend/src/components/home/LevelChart.module.css
  Frontend/src/components/home/LevelChart.tsx
Due: Frontend

[feat/yunha]백엔드 프로메테우스 코드 추가
  Backend/core/metrics.py
  Backend/main.py
  Backend/services/audio_processor.py
  Backend/services/evaluator.py
  Backend/services/test_service.py
Due: Backend

fix: 서비스 소개 이미지 및 스타일 수정
  Frontend/src/assets/images/intro1.png
  Frontend/src/assets/images/intro2.png
  Frontend/src/components/auth/Introduction.module.css
  Frontend/src/pages/auth/Login.tsx
Due: Frontend

[fix/yunha]프로메테우스 코드 정규화 문제로 인한 에러 해결
  Backend/core/metrics.py
Due: Backend

feat: 404 error 페이지 생성
  Frontend/src/App.tsx
  Frontend/src/api/apiClient.ts
  Frontend/src/assets/images/notfound.png
  Frontend/src/components/common/NavigationInitializer.tsx
  Frontend/src/pages/NotFound.module.css
  Frontend/src/pages/NotFound.tsx
Due: Frontend

[fix] 3문제 피드백 에러 해결 - 3유형 피드백 로직 에러(test_type_str이 bool을 받는데 dict으로 해놓음)
  Backend/services/evaluator.py
Due: Backend

[feat/juhee]네이버 로그인 구현
  Frontend/src/components/auth/LoginButtons.tsx
Due: Frontend

[refactor]header margin 변경
  Frontend/src/components/survey/Switch.module.css
  Frontend/src/pages/auth/Survey.module.css
Due: Frontend

refactor: 접근성 향상
  Frontend/src/pages/home/Home.tsx
Due: Frontend

[fix/jaeuk] gtts는 html 태크를 지원하지 않아서 자연스럽게 에러가 났고 bs4로 tag를 제거하는 형식으로 해결
  Backend/api/problems_api.py
  Backend/requirements.txt
Due: Backend

[refator/hanna] 발음 듣기 버튼 ux/ui 수정 및 성능 개선 #S12P21B107-188
  Frontend/src/components/script/ScriptBox.module.css
  Frontend/src/components/script/ScriptBox.tsx
  Frontend/src/hooks/usePronunciation.ts
Due: Frontend

[fix/jaeuk]뷰티플소프 두번까는 오류:requirements.txt에서 제거
  Backend/requirements.txt
Due: Backend

[feat] blue/green 전용 Jenkinsfile 추가
  Jenkinsfile
Due: none

[fix] Jenkinsfile.cd 배포 방식 변경
  Jenkinsfile
  Jenkinsfile.cd
Due: none

[test] blue/green test 1
  Backend/README.md
  Frontend/README.md
Due: Backend, Frontend

[test] blue/green test 2
  Backend/README.md
  Frontend/README.md
Due: Backend, Frontend

[fix] Jenkinsfile.cd to checkBlue
  Jenkinsfile.cd
Due: none

[test] blue/green test 3
  Backend/README.md
  Frontend/README.md
Due: Backend, Frontend

[fix] 모의고사 페이지 - 녹음시간 ui 초기화 (해결) - 피드백 알림 모달(위치 조정 해결) - 소냐큐브 스멜리 코드 처리
  Frontend/src/assets/styles/reset.css
  Frontend/src/components/test/DetailFeedback.module.css
  Frontend/src/components/test/FeedbackNotification.module.css
  Frontend/src/index.css
  Frontend/src/pages/test/TestExam.module.css
  Frontend/src/pages/test/TestExam.tsx
Due: Frontend

[fix] border 중복 지우기(소나큐브)
  Frontend/src/pages/test/TestExam.module.css
Due: Frontend

[docs] front readme 작성
  Frontend/README.md
Due: Frontend

[fix] blue/green 배포용 CD 코드update
  Jenkinsfile.cd
Due: none

[refactor/juhee]이미지 파일 압축
  Frontend/.gitignore
  Frontend/dist-node/src/api/apiClient.d.ts
  Frontend/dist-node/src/hooks/useAnalytics.d.ts
  Frontend/dist-node/src/hooks/useHistory.d.ts
  Frontend/dist-node/src/hooks/usePronunciation.d.ts
  Frontend/dist-node/src/store/testSlice.d.ts
  Frontend/src/assets/images/intro1.webp
  Frontend/src/assets/images/intro2.webp
  Frontend/src/assets/images/opigi.webp
  Frontend/src/components/auth/Introduction.tsx
  Frontend/tsconfig.tsbuildinfo
Due: Frontend

[test] dev merge test
  Frontend/README.md
Due: Frontend

[test]dev merge test
  Frontend/README.md
Due: Frontend

[refactor/yunha]테스트 랜덤 생성 로직 변경
  Backend/services/test_generator.py
Due: Backend

[refactoy/yunha]응답 평가 프롬프트 수정
  Backend/services/evaluator.py
Due: Backend

[feat] 마이페이지 user img 추가
  Frontend/src/hooks/useUserInfo.ts
  Frontend/src/pages/home/Home.module.css
  Frontend/src/pages/home/Home.tsx
Due: Frontend

[fix] 모의고사 페이지 해결 - 15문제 피드백 카드 평가중이라고 무한 뜨는거 해결
  Frontend/src/components/test/RecordItem.tsx
  Frontend/src/pages/test/FeedBack.module.css
Due: Frontend

[refactor/yunha]test 평가 시 celery, redis 활용 비동기 처리 개선
  Backend/.env.example
  Backend/api/tests_api.py
  Backend/celery_worker.py
  Backend/core/config.py
  Backend/db/mongodb.py
  Backend/main.py
  Backend/prepare-test-users.py
  Backend/requirements.txt
  Backend/services/ai_test.py
  Backend/services/audio_processor.py
  Backend/services/evaluator.py
  Backend/tasks/__init__.py
  Backend/tasks/audio_tasks.py
Due: Backend
