Repository SSAFY12-B107/OmyPIc: changes, and which Jenkins stages are due for each by the changed paths.
All: Backend, Frontend

Backend:
                      steps {
                          script {
                              buildAndPushImage("${BACKEND_IMAGE}", "./backend")
                          }
                      }
                  

Frontend:
                      steps {
                          script {
                              buildAndPushImage("${FRONTEND_IMAGE}", "./frontend")
                          }
                      }
                  

[fix] Jenkinsfile add Docker Login Stage
  Jenkinsfile
Due: none

[feat/yunha]스크립트, 모의고사 기능 완성(AI 기능 제외)
  Backend/api/problems_api.py
  Backend/api/tests.py
  Backend/api/tests_api.py
  Backend/main.py
  Backend/models/test.py
  Backend/schemas/problem.py
  Backend/schemas/test.py
  Backend/services/test_service.py
Due: Backend

[refactor/yunha]모의고사 생성 반환 값 리팩토링(score, respose, feedback 값 제외외)
  Backend/api/tests_api.py
  Backend/schemas/test.py
Due: Backend

[feat] 음성 녹음 부분 기능 구현 - mic-to-mp3 Lame 의존성 문제 해결이 안됨 - 백업용으로 커밋
  Frontend/src/pages/test/TestExam.tsx
  Frontend/src/types/mic-recorder-to-mp3.d.ts
Due: Frontend

[chore] 사용자 음성 데이터 저장 기능 오류 해결 - Lamed 의존성 설치 문제 해결 - '~fixed' 버전으로 재설치하면 됨됨
  Frontend/src/pages/test/TestExam.tsx
  Frontend/src/types/mic-recorder-to-mp3-fixed.d.ts
Due: Frontend

[fix] Jenkinsfile update-3
  Jenkinsfile
Due: none

[fix] Jenkinsfile update-4
  Jenkinsfile
Due: none

[chore] docker & nginx 관련 파일 초기 세팅
  docker-compose.blue.yml
  docker-compose.green.yml
  docker-compose.yml
  nginx/conf.d/default.conf
  nginx/conf.d/upstream_blue.conf
  nginx/conf.d/upstream_green.conf
Due: none

[fix] Jenkinsfile update-5
  Jenkinsfile
Due: none

[fix] Jenkinsfile update-6
  Jenkinsfile
Due: none

[fix] Jenkinsfile update-7
  Jenkinsfile
Due: none

[fix] Jenkinsfile update-8
  Jenkinsfile
Due: none

[fix] Jenkinsfile update-94
  Jenkinsfile
Due: none

[chore] 패키지 업데이트(react-intersection-observer)
  Frontend/package-lock.json
  Frontend/package.json
Due: Frontend

[fix] Jenkinsfile update-10
  Jenkinsfile
Due: none

[feat] 스크립트 문제 리스트 api 연결 코드 추가 #S12P21B107-56
  Frontend/src/components/common/LoadingSpinner.module.css
  Frontend/src/components/common/LoadingSpinner.tsx
  Frontend/src/hooks/useProblems.ts
  Frontend/src/pages/script/ScriptList.tsx
Due: Frontend

[feat] 발음 듣기 기능 추가 #S12P21B107-57
  Frontend/src/components/script/ScriptBox.module.css
  Frontend/src/components/script/ScriptBox.tsx
  Frontend/src/hooks/usePronunciation.ts
Due: Frontend

[feat] 상세 문제 조회 api 요청 코드 추가 #S12P21B107-57
  Frontend/src/components/script/QuestionBox.tsx
  Frontend/src/hooks/useProblems.ts
  Frontend/src/pages/script/ScriptDetail.module.css
  Frontend/src/pages/script/ScriptDetail.tsx
Due: Frontend

[feat] 스크립트 작성 및 질문 생성 api 요청 코드 추가 #S12P21B107-58
  Frontend/src/hooks/useScripts.ts
  Frontend/src/pages/script/ScriptWrite.tsx
Due: Frontend

[feat] 스크립트 및 질문 생성 관련 코드 추가 #S12P21B107-59
  Frontend/src/components/script/ScriptModal.tsx
Due: Frontend

[chore] Jenkins CI/CD setting
  Jenkinsfile
  Jenkinsfile.cd
  Jenkinsfile.ci
Due: none

[fix] Jenkinsfile.cd update
  Jenkinsfile.cd
Due: none

[feat] 네이버 소셜 로그인 구현
  Backend/api/auth.py
  Backend/api/deps.py
  Backend/core/config.py
  Backend/models/user.py
  Backend/requirements.txt
  Backend/schemas/user.py
  Backend/services/auth.py
  Backend/services/oauth.py
  Backend/services/user.py
Due: Backend

[test] Jenkins CI Test 1
  README.md
Due: none

[test] CICD Test 2
  Backend/README.md
  Frontend/README.md
  Jenkinsfile.ci
Due: Backend, Frontend

[feat/yunha]스크립트, 모의고사 AI기능 추가 및 기존 코드 리팩토링 완료료
  Backend/api/tests_api.py
  Backend/core/config.py
  Backend/main.py
  Backend/schemas/test.py
  Backend/services/ai_test.py
  Backend/services/audio_processor.py
  Backend/services/evaluator.py
  Backend/services/test_generator.py
  Backend/services/test_service.py
Due: Backend

[chore/yunha]백엔드 requirements.txt 업데이트
  Backend/requirements.txt
Due: Backend

[chore] mp3 파일 생성 라이브러리 설정
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/tsconfig.json
Due: Frontend

[feat] 모의고사 메인 페이지 로직
  Frontend/src/pages/test/TestExam.module.css
  Frontend/src/pages/test/TestExam.tsx
  Frontend/src/pages/test/TestMain.tsx
Due: Frontend

[feat] 피드백 페이지 기능 구현 - 종합, 일반 세부 피드백 api 요청 설정 - 탠스택쿼리 훅 설정 - css 수정
  Frontend/src/components/test/AverageGradeChart.tsx
  Frontend/src/components/test/DetailFeedback.tsx
  Frontend/src/components/test/OveralFeedback.tsx
  Frontend/src/hooks/useFeedBack.ts
  Frontend/src/hooks/useHistory.ts
  Frontend/src/pages/test/FeedBack.tsx
Due: Frontend

[chore ] 모의고사 스토어 속성 변경에 따라 수정, 음성 듣기 axios 요청 변수명 변경
  Frontend/src/hooks/useTest.ts
  Frontend/src/store/index.ts
Due: Frontend

[refactor/yunha]모의고사 생성 시 출력 값에 s3_audio_url 필드 추가가
  Backend/schemas/test.py
Due: Backend

[chore] 패키지 매니저 추가 (chartjs, react-chartjs-2)
  Frontend/package-lock.json
  Frontend/package.json
Due: Frontend

[feat] chartjs 사용해 실력향상 추이 그래프 생성#S12P21B107-41
  Frontend/src/components/home/LevelChart.module.css
  Frontend/src/components/home/LevelChart.tsx
Due: Frontend

[feat] 오픽 시험 일자, D-day 포맷팅 함수 추가 ##S12P21B107-40
  Frontend/src/hooks/useTestDate.ts
  Frontend/src/pages/home/Home.module.css
  Frontend/src/pages/home/Home.tsx
Due: Frontend

naver OAuth 구현 #S12P21B107-54
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/App.tsx
  Frontend/src/api/apiClient.ts
  Frontend/src/components/auth/LoginButtons.tsx
  Frontend/src/components/survey/GeneralSurvey.module.css
  Frontend/src/components/survey/Tip.module.css
  Frontend/src/hooks/useSurvey.ts
  Frontend/src/pages/auth/Profile.module.css
  Frontend/src/pages/auth/Profile.tsx
  Frontend/src/routes/AuthRoutes.tsx
Due: Frontend

[refactor/yunha]백엔드 CORS origin 설정값 수정
  Backend/core/config.py
  Backend/main.py
  Backend/services/evaluator.py
Due: Backend

[feat] 구글 로그인 구현
  Backend/api/auth.py
  Backend/api/deps.py
  Backend/api/users.py
  Backend/core/config.py
  Backend/core/jwt_utils.py
  Backend/langchain_lee.ipynb
  Backend/requirements.txt
  Backend/services/ai_script.py
  Backend/services/auth.py
  Backend/services/oauth.py
  Backend/services/user.py
Due: Backend

[refactor]API Key cycle 처리, 문제 기본 질문 반환 형식 변경, config.py 수정정
  Backend/api/deps.py
  Backend/api/problems_api.py
  Backend/core/config.py
  Backend/main.py
  Backend/schemas/problem.py
  Backend/services/ai_test.py
  Backend/services/evaluator.py
  Backend/services/test_service.py
Due: Backend

[fix] 네이버 로그인 오류수정
  Backend/main.py
  Backend/services/evaluator.py
Due: Backend

Path conditions:
  Backend: any of: backend/**
  Frontend: any of: frontend/**
