Repository SSAFY12-B107/OmyPIc: changes, and which Jenkins stages are due for each by the changed paths.
All: Prepare Frontend Environment, Backend, Frontend

Path conditions:
  Prepare Frontend Environment: any of: Frontend/**
  Backend: any of: Backend/**
  Frontend: any of: Frontend/**

[feat] '/docs' 경로일 때 서비스 워커가 처리 않도록 코드 추가
  Frontend/vite.config.ts
Due: Prepare Frontend Environment, Frontend

[fix] '/docs/' -> '/docs'로 경로 변경
  Frontend/vite.config.ts
Due: Prepare Frontend Environment, Frontend

[fix] 모의고사 -> 실전 연습으로 용어 변경
  Frontend/src/components/common/Header.tsx
  Frontend/src/components/home/LevelChart.tsx
  Frontend/src/pages/script/ScriptDetail.tsx
Due: Prepare Frontend Environment, Frontend

[test] CI test
  Backend/README.md
  Frontend/README.md
Due: Prepare Frontend Environment, Backend, Frontend

[test] CI test 2
  Backend/README.md
  Frontend/README.md
Due: Prepare Frontend Environment, Backend, Frontend

[test] CI test 3
  Backend/README.md
  Frontend/README.md
Due: Prepare Frontend Environment, Backend, Frontend

[fix] 마이페이지 레벨차트 한국 시간, 날짜 오름차순으로 변경
  Frontend/src/components/home/LevelChart.tsx
Due: Prepare Frontend Environment, Frontend

[fix] 한국시간으로 변경 안되는 오류 수정, 정렬 후 형식 변환하도록 로직 수정
  Frontend/src/components/home/LevelChart.tsx
Due: Prepare Frontend Environment, Frontend

ai service connection is solved
  Backend/api/problems_api.py
  Backend/main.py
Due: Backend

CSM-1B TTS 통합 구현
  test.html
Due: none

[fix] 발음듣기 버튼 back 형식에 맞게 src 변경
  Frontend/src/components/script/ScriptBox.tsx
Due: Prepare Frontend Environment, Frontend

[refactor/yunha]랜덤 한 문제 비동기 처리 개선(celery 적용)
  Backend/api/tests_api.py
  Backend/core/metrics.py
  Backend/main.py
  Backend/services/evaluator.py
  Backend/tasks/audio_tasks.py
Due: Backend

[refactor/yunha]부하 테스트용 랜덤 문제 limit 해제제
  Backend/api/tests_api.py
Due: Backend

[docs] porting_manual update
  exec/image-1.png
  exec/image-10.png
  exec/image-11.png
  exec/image-12.png
  exec/image-13.png
  exec/image-14.png
  exec/image-15.png
  exec/image-16.png
  exec/image-17.png
  exec/image-18.png
  exec/image-19.png
  exec/image-2.png
  exec/image-20.png
  exec/image-21.png
  exec/image-22.png
  exec/image-23.png
  exec/image-24.png
  exec/image-3.png
  exec/image-4.png
  exec/image-5.png
  exec/image-6.png
  exec/image-7.png
  exec/image-8.png
  exec/image-9.png
  exec/image.png
  exec/porting_manual.md
Due: none

Locust 메뚜기 구현
  Backend/api/deps.py
  Backend/api/tests_api.py
  Backend/locustfile.py
  Backend/tasks/audio_tasks.py
Due: Backend

[refactor/yunha]비동기 처리 grafana 시각화를 위한 locust 처리
  Backend/celery_worker.py
  Backend/locustfile.py
Due: Backend

[refactor/yunha]비동기 처리 grafana 시각화를 위한 metric 수정
  Backend/core/metrics.py
  Backend/services/audio_processor.py
  Backend/tasks/audio_tasks.py
Due: Backend

[chore/yunha]env 업데이트용용 커밋
  Backend/README.md
  Backend/api/tests_api.py
Due: Backend

[refactor/yunha]시연을 위해 랜덤 한 문제 고정 한 문제로 변경
  Backend/services/test_generator.py
Due: Backend

api 테스트 타임아웃 10분으로 증가(for frontend 404에러 해결)
  Backend/api/problems_api.py
Due: Backend

메서드 안맞는거 수정
  Backend/api/problems_api.py
Due: Backend

추가 서비스를 위해서 gtts서비스로 교체
  Backend/api/problems_api.py
Due: Backend

타임아웃 에러 해결
  Backend/api/problems_api.py
  Backend/main.py
Due: Backend

타임아웃 에러 해결
  Backend/main.py
Due: Backend

[feat] 공원가는 오피기 이미지 추가
  Frontend/src/assets/images/opigi-park.png
  Frontend/src/pages/script/ScriptList.tsx
Due: Prepare Frontend Environment, Frontend

[fix] 모의고사 아바타 사진 변경
  Frontend/src/assets/images/avatar.png
  Frontend/src/pages/script/ScriptList.tsx
Due: Prepare Frontend Environment, Frontend

[feature/yunha]응답 평가 프롬프트 고도화
  Backend/services/evaluator.py
Due: Backend

[feature/yunha]celery 처리 엔드포인트 api 주소 변경경
  Backend/api/tests_api.py
Due: Backend

[chore] merge 용 커밋
  Backend/README.md
Due: Backend

[fix/yunha] celery worker 파일 내부 프로메테우스 엔드포인트 삭제(오류 해결용)
  Backend/celery_worker.py
Due: Backend

[fix/yunha] gemini quota 오류 해결(redis 블랙리스트 추가)
  Backend/api/deps.py
  Backend/celery_worker.py
  Backend/services/evaluator.py
Due: Backend

[fix/yunha] 오류 해결용 api 주소 변경 임시 처리(bg로 원복)
  Backend/api/tests_api.py
Due: Backend

[fix/yunha] 오류 해결용 api 주소 변경 임시 처리(bg로 원복)
  Backend/api/deps.py
  Backend/services/evaluator.py
Due: Backend

[fix/yunha]단일 문제 평가 안되는 오류 해결, api_key 순환 로직 수정(redis 블랙리스트 활용용)
  Backend/api/deps.py
  Backend/services/audio_processor.py
  Backend/services/evaluator.py
  Backend/services/test_service.py
Due: Backend

[refactor/yunha]불필요한 logging 수정
  Backend/api/tests_api.py
Due: Backend

[refactor/yunha]celery 코드로 api 요청 변경경
  Backend/api/tests_api.py
  Backend/tasks/audio_tasks.py
Due: Backend

[fix/yunha]단일 문제 평가 안되는 오류 해결. 발화량 미평가 오류 수정
  Backend/tasks/audio_tasks.py
Due: Backend
