Repository SSAFY12-B107/OmyPIc: changes, and which Jenkins stages are due for each by the changed paths.
All: Backend, Frontend

Path conditions:
  Backend: any of: backend/**
  Frontend: any of: frontend/**

[fix] Jenkinsfile.cd update!
  Jenkinsfile.cd
  docker-compose-blue.yml
  docker-compose-green.yml
  docker-compose-nginx.yml
  docker-compose.blue.yml
  docker-compose.green.yml
  docker-compose.yml
  nginx/conf.d/default.conf
  nginx/conf.d/upstream.conf
  nginx/conf.d/upstream_blue.conf
  nginx/conf.d/upstream_green.conf
Due: none

[fix] Jenkins.ci update11
  Jenkinsfile.ci
Due: none

[test] CI Test3
  Backend/README.md
  Frontend/README.md
Due: Backend, Frontend

[test] CI코드 수정
  Jenkinsfile.ci
Due: none

[fix] import문 안되서 고장난 나의 구글로그인 해결!
  Backend/api/auth.py
Due: Backend

[test] Jenkinsfile CI update
  Jenkinsfile.ci
Due: none

[test] Jenkinfile CI Test3
  Backend/README.md
  Frontend/README.md
Due: Backend, Frontend

[fix] Dockerfiles
  Backend/Dockerfile
  Frontend/Dockerfile
  Jenkinsfile.ci
  nginx/Dockerfile
Due: Backend, Frontend

[fix] 프론트&백엔드 설정파일 수정
  Backend/requirements.txt
  Frontend/src/App.tsx
Due: Backend, Frontend

[fix] requirements 파일 수정 1
  Backend/requirements.txt
Due: Backend

[fix] 내 컴퓨터로는 되는건데!
  Backend/requirements.txt
Due: Backend

[fix/yunha]문제 세부 사항 조회 에러 수정, 오디오 s3 업로드 함수 추가
  Backend/api/problems_api.py
  Backend/api/tests_api.py
  Backend/core/config.py
  Backend/scripts/make_problem.py
  Backend/scripts/make_question.py
  Backend/scripts/upload_to_s3.py
  Backend/services/s3_service.py
Due: Backend

[chore] 스크립트 메인, 리스트, 디테일 페이지 api 연결
  Frontend/src/components/script/ScriptBox.tsx
  Frontend/src/hooks/useProblems.ts
  Frontend/src/hooks/usePronunciation.ts
  Frontend/src/hooks/useScripts.ts
  Frontend/src/hooks/useUserInfo.ts
  Frontend/src/pages/script/ScriptDetail.tsx
  Frontend/src/pages/script/ScriptList.tsx
  Frontend/src/pages/script/ScriptMain.tsx
  Frontend/src/pages/script/ScriptWrite.module.css
  Frontend/src/pages/script/ScriptWrite.tsx
Due: Frontend

[feat] 사용자 정보 입력 로직 구현
  Frontend/src/hooks/useProfile.ts
  Frontend/src/pages/auth/LoginSwitchingPage.module.css
  Frontend/src/pages/auth/LoginSwitchingPage.tsx
  Frontend/src/pages/auth/SurveySwitchingPage.module.css
  Frontend/src/pages/auth/SurveySwitchingPage.tsx
  Frontend/src/store/index.ts
Due: Frontend

[chore] 불필요 코드(import react from 'react') 삭제
  Frontend/src/components/common/NavigationButton.tsx
  Frontend/src/components/survey/GeneralSurvey.tsx
  Frontend/src/components/survey/Tip.tsx
  Frontend/src/pages/LoginSwitchingPage.tsx
  Frontend/src/pages/SurveySwitchingPage.tsx
  Frontend/src/pages/auth/Login.tsx
  Frontend/src/pages/auth/LoginSwitchingPage.tsx
  Frontend/src/pages/auth/Profile.tsx
  Frontend/src/pages/auth/Survey.tsx
  Frontend/src/pages/auth/SurveySwitchingPage.tsx
Due: Frontend

[refactor] 파일 상대경로(../../) 절대경로(@/)로 변경
  Frontend/src/components/auth/Introduction.tsx
  Frontend/src/components/auth/LoginButtons.tsx
  Frontend/src/components/home/CharacterChange.tsx
  Frontend/src/components/script/ScriptBox.tsx
  Frontend/src/components/script/ScriptModal.tsx
  Frontend/src/components/survey/Tip.tsx
  Frontend/src/pages/auth/Login.tsx
  Frontend/src/pages/auth/LoginSwitchingPage.tsx
  Frontend/src/pages/auth/Profile.tsx
  Frontend/src/pages/auth/Survey.tsx
  Frontend/src/pages/auth/SurveySwitchingPage.tsx
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/script/ScriptDetail.tsx
  Frontend/src/pages/script/ScriptList.tsx
  Frontend/src/pages/script/ScriptMain.tsx
  Frontend/src/pages/script/ScriptWrite.tsx
  Frontend/src/pages/test/FeedBack.tsx
  Frontend/src/pages/test/TestMain.tsx
  Frontend/vite.config.ts
Due: Frontend

[feat]피드백 페이지 axios 연결결
  Frontend/src/components/test/OveralFeedback.tsx
  Frontend/src/hooks/useFeedBack.ts
  Frontend/src/pages/test/FeedBack.module.css
  Frontend/src/pages/test/FeedBack.tsx
Due: Frontend

[chore ] 경로 수정
  Frontend/src/App.tsx
Due: Frontend

[feat] 응시 페이지 듣기음성 및 녹음 음성 기능 구현중중
  Frontend/src/assets/images/speaking_animate.png
  Frontend/src/pages/test/TestExam.module.css
  Frontend/src/pages/test/TestExam.tsx
Due: Frontend

[feat] 피드백 데이터 탠스택쿼리 hook 설정
  Frontend/src/hooks/useHistory.ts
Due: Frontend

[feat] 음성 기능 업데이트 - 훅 수정 - 스토어 수정정
  Frontend/src/hooks/useAudio.ts
  Frontend/src/store/index.ts
Due: Frontend

[feat] 모의고사 메인페이지 설정 - 평균차트 인자 수정 - 메인페이지 로직 연결
  Frontend/src/components/test/AverageGradeChart.tsx
  Frontend/src/pages/test/TestMain.tsx
Due: Frontend

[refactor] api, redux 관련 로직 분리 및 수정
  Frontend/src/api/apiClient.ts
  Frontend/src/main.tsx
  Frontend/src/store/store.ts
Due: Frontend

[fix/yunha]문제 생성 API에 s3_url 필드 추가
  Backend/models/test.py
  Backend/services/test_generator.py
Due: Backend

[test] backend pull 위한 commit
  Backend/api/auth.py
  Backend/api/tests.py
  Backend/api/users.py
  Frontend/src/api/apiClient.ts
  Frontend/src/hooks/useAudio.ts
  Frontend/src/hooks/useTest.ts
  Frontend/src/pages/test/TestExam.tsx
  Frontend/src/store/index.ts
Due: Backend, Frontend

[feat] 모의고사 듣기, 녹음 전달 에러 드디어 해결.......
  Frontend/src/pages/test/TestExam.tsx
Due: Frontend

[error] 충돌 해결: AuthRoutes.tsx 삭제 유지
  Frontend/src/components/auth/LoginButtons.module.css
  Frontend/src/components/auth/LoginButtons.tsx
  Frontend/src/pages/LoginSwitchingPage.module.css
  Frontend/src/pages/LoginSwitchingPage.tsx
  Frontend/src/pages/SurveySwitchingPage.module.css
  Frontend/src/pages/SurveySwitchingPage.tsx
  Frontend/src/pages/auth/Profile.module.css
  Frontend/src/pages/auth/Profile.tsx
Due: Frontend

[refactor]profile 입력 페이지 리팩토링
  Frontend/src/components/auth/LoginButtons.tsx
  Frontend/src/pages/LoginSwitchingPage.module.css
  Frontend/src/pages/LoginSwitchingPage.tsx
  Frontend/src/pages/SurveySwitchingPage.module.css
  Frontend/src/pages/SurveySwitchingPage.tsx
  Frontend/src/pages/auth/Profile.module.css
  Frontend/src/pages/auth/Profile.tsx
  Frontend/src/routes/AuthRoutes.tsx
Due: Frontend

[feat] /api/problems/<int:problem_pk>/scripts엔드 포인트에 제대로 연결되었을시 스크립트 값 목업을 반환하는 로직 구현
  Backend/api/problems_api.py
  Backend/models/script.py
  Backend/schemas/problem.py
Due: Backend

[feat] 꼬리질문 테스트할수 있도록 딱 제대로 보내졌을때 답변 오는 로직만 구현
  Backend/api/problems_api.py
Due: Backend

[test] blue/green MR Test 1
  MRTEST.txt
Due: none

[fix] 로그인 버튼 깨진 스타일 수정
  Frontend/src/components/auth/LoginButtons.module.css
  Frontend/src/components/auth/LoginButtons.tsx
Due: Frontend

[refactor/yunha]user 상세 정보 조회, 꼬리질문 생성,스크립트 생성 기능 리팩토링링
  Backend/api/problems_api.py
  Backend/api/users.py
  Backend/models/script.py
  Backend/schemas/problem.py
  Backend/schemas/user.py
  Backend/services/test_service.py
Due: Backend

[chore] Frontend/src/styles/main.css 추가
  Frontend/styles/main.css
Due: Frontend

[fix] Jenkinsfile.ci update docker buildx
  Jenkinsfile.ci
Due: none

[fix] Jenkinsfile.ci update@
  Jenkinsfile.ci
Due: none

[fix] Jenkinsfile.ci update3
  Jenkinsfile.ci
Due: none

[feat] 메인 페이지 api 로직 연결 및 데이터 바인딩
  Frontend/src/components/home/LevelChart.tsx
  Frontend/src/hooks/useUserInfo.ts
  Frontend/src/pages/home/Home.tsx
Due: Frontend
