Repository SSAFY12-B107/OmyPIc: changes, and which Jenkins stages are due for each by the changed paths.
All: Backend, Frontend

Backend:
                      steps {
                          script {
                              buildAndPushImage("${BACKEND_IMAGE}", "./backend")
                          }
                      }
                  

Frontend:
                      steps {
                          script {
                              buildAndPushImage("${FRONTEND_IMAGE}", "./frontend")
                          }
                      }
                  

[refactor/yunha]모의고사 limit 개수 축소(모의고사 -> 2개, 맛보기 ->3개)
  Backend/api/tests_api.py
Due: Backend

[fix/yunha]프로필 이미지 조회 안되는 문제 해결결
  Backend/models/user.py
Due: Backend

[fix/yunha]사용자 답변 스크립트로 들어가는 문제 해결결
  Backend/services/evaluator.py
  Backend/services/test_service.py
Due: Backend

[fix/jaeuk] AI 스크립트 html 형식으로 보일수있게 깔끔하게 수정 및 내용도 프롬프트 수정
  Backend/services/ai_script.py
Due: Backend

[fix/jaeuk] AI 스크립트 내용 프롬프트 조금 더 다듬기 진행
  Backend/services/ai_script.py
Due: Backend

[fix/hanna]로그인 로직, 스크립트 css 수정, BASE_URL 배포용으로 수정
  Backend/api/auth.py
  Frontend/src/components/auth/LoginButtons.tsx
  Frontend/src/components/script/QuestionBox.module.css
  Frontend/src/components/script/ScriptBox.module.css
  Frontend/src/components/script/ScriptBox.tsx
  Frontend/src/components/script/ScriptModal.module.css
  Frontend/src/components/script/ScriptModal.tsx
  Frontend/src/pages/auth/AuthCallback.tsx
  Frontend/src/pages/script/ScriptDetail.module.css
  Frontend/src/pages/script/ScriptDetail.tsx
  Frontend/src/pages/script/ScriptMain.module.css
Due: Backend, Frontend

[refactor/hanna]꼬리질문 박스 html 인식하도록 변경
  Frontend/src/pages/script/ScriptWrite.tsx
Due: Frontend

Merge branch 'dev' of https://lab.ssafy.com/s12-ai-speech-sub1/S12P21B107 into dev-back
  Backend/api/auth.py
Due: Backend

[fix] dev-front update
  Backend/.env.example
  Backend/Dockerfile
  Backend/README.md
  Backend/api/deps.py
  Backend/api/problems.py
  Backend/api/problems_api.py
  Backend/api/tests_api.py
  Backend/core/config.py
  Backend/core/jwt_utils.py
  Backend/db/mongodb.py
  Backend/docker-compose.yml
  Backend/locustfile.py
  Backend/main.py
  Backend/models/script.py
  Backend/models/test.py
  Backend/models/user.py
  Backend/prepare-test-users.py
  Backend/requirements.txt
  Backend/schemas/problem.py
  Backend/schemas/test.py
  Backend/schemas/user.py
  Backend/scripts/make_problem.py
  Backend/scripts/make_question.py
  Backend/scripts/scheduler.py
  Backend/scripts/update_categories.py
  Backend/scripts/upload_to_s3.py
  Backend/scripts/userlimit_manual_reset.py
  Backend/services/ai_script.py
  Backend/services/ai_test.py
  Backend/services/audio_processor.py
  Backend/services/auth.py
  Backend/services/evaluator.py
  Backend/services/oauth.py
  Backend/services/s3_service.py
  Backend/services/test_generator.py
  Backend/services/test_service.py
  Backend/services/user.py
  Jenkinsfile.cd
  Jenkinsfile.ci
Due: Backend

[feat] dockerfile add
  Frontend/Dockerfile
Due: Frontend

[fix] nginx/Dockerfile add
  nginx/Dockerfile
Due: none

[fix] sw.js api 경로 제외 설정
  Frontend/vite.config.ts
Due: Frontend

[fix/prompt ai 스크립트 개선]
  Backend/services/ai_script.py
Due: Backend

[refactor/yunha]파일 업로드 크기 제한 15MB로 증가
  Backend/main.py
Due: Backend

[refactor] front base url 환경 변수 추가
  Frontend/.gitignore
  Frontend/src/api/apiClient.ts
  Frontend/src/components/auth/LoginButtons.tsx
Due: Frontend

[fix] Frontend/Dockerfile & Jenkinsfile.ci update
  Frontend/Dockerfile
  Jenkinsfile.ci
  nginx/conf.d/default.conf
Due: Frontend

[fix] 모의고사 응시 녹음 파일 압축 후 전송으로 변경
  Frontend/src/pages/test/TestExam.tsx
Due: Frontend

[refactor] 스크립트 생성 모달창 UI/UX 개선
  Frontend/src/components/script/ScriptModal.module.css
  Frontend/src/components/script/ScriptModal.tsx
Due: Frontend

[fix] 폴링 3초에서 10초로 변경, 피드백 데이터 html로 변환 후 사용으로 수정, 응시 페이지 녹음 압축 코드 수정(모노로 전환)
  Frontend/src/components/test/DetailFeedback.module.css
  Frontend/src/components/test/DetailFeedback.tsx
  Frontend/src/components/test/FeedbackModal.module.css
  Frontend/src/components/test/FeedbackModal.tsx
  Frontend/src/components/test/OveralFeedback.module.css
  Frontend/src/components/test/OveralFeedback.tsx
  Frontend/src/hooks/useHistory.ts
  Frontend/src/pages/test/TestExam.tsx
Due: Frontend

[fix/yunha]피드백 html 형식과 json 형식이 겹쳐서 생기는 파싱 문제 해결
  Backend/services/evaluator.py
Due: Backend

[style] 피드백 페이지 css 조정 1) 개별문제 컨테이너 가운데 정렬(해결) 2) 본문도 letter spacing 0, 폰트크기 1.5rem 조절 (해결) 3) 단일 피드백 모달 height 200으로 주고 , over scroll 추가 (해결) 4) 피드백 페이지 헤더와의 간격 재조정 (해결)
  Frontend/src/components/test/DetailFeedback.module.css
  Frontend/src/components/test/FeedbackModal.module.css
  Frontend/src/components/test/OveralFeedback.module.css
  Frontend/src/pages/test/FeedBack.module.css
Due: Frontend

[feat] Google Analytics 추적 기능 구현현
  Frontend/.env.production.template
  Frontend/.gitignore
  Frontend/dist-node/src/hooks/useAnalytics.d.ts
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/App.tsx
  Frontend/src/components/common/RouteTracker.tsx
  Frontend/src/hooks/useAnalytics.ts
  Frontend/tsconfig.tsbuildinfo
Due: Frontend

[fix] Jenkinsfile.ci & Frontend/Dockerfile update2
  Frontend/Dockerfile
  Jenkinsfile.ci
Due: Frontend

[test] ci test 1
  Backend/README.md
  Frontend/README.md
Due: Backend, Frontend

[fix/yunha]HTML까지 오디오로 변환되는 문제 해결결
  Backend/api/problems_api.py
  Backend/requirements.txt
Due: Backend

[fix/juhee]서베이 12개 이상 선택 안되면 넘어가지 않도록 수정
  Frontend/src/pages/auth/Survey.tsx
Due: Frontend

[fix] 카카오톡 인앱브라우저 미연결 오류 해결 시도(1차)
  Frontend/src/App.tsx
  Frontend/src/components/common/OpenExternalBrowser.tsx
Due: Frontend

[fix] 카톡 인앱브라우저 오류 해결 시도 2차
  Frontend/src/App.tsx
Due: Frontend

[fix] 카톡 인앱브라우저 오류 문제 해결(시도2차)
  Frontend/src/components/common/AndroidKakaoTalkRedirect.tsx
  Frontend/src/components/common/OpenExternalBrowser.tsx
Due: Frontend

[fix/jaeuk] ai 스크립트수정
  Backend/services/ai_script.py
Due: Backend

[fix/jaeuk] 질문에 관련된 스크립트를 생성하도록 요청
  Backend/services/ai_script.py
Due: Backend

[chore/yunha]dev-back 브랜치 push
  Backend/main.py
Due: Backend

feat/test-random 브랜치 생성성
  Backend/api/tests_api.py
Due: Backend

[feat/yunha]유저 모델에 유형별 시험 제한 필드 추가가
  Backend/models/user.py
Due: Backend

[feat/yunha]유저 모델에 유형별 시험 제한 필드 추가한 사항 수정
  Backend/models/user.py
  Backend/scripts/add_categorical_limit.py
Due: Backend

refactor: 메인페이지를 모의고사 페이지로 교체 완료 #S12P21B107-181
  Frontend/src/App.tsx
  Frontend/src/components/common/Navbar.tsx
  Frontend/src/contexts/HeaderContext.tsx
  Frontend/src/routes/ProtectedRoutes.tsx
Due: Frontend

[feat/yunha]유형별 시험 기능 추가. 속성 모의고사(7문제) 기능 삭제
  Backend/api/tests_api.py
  Backend/models/user.py
  Backend/services/test_generator.py
  Backend/services/test_service.py
Due: Backend

[refactor/juhee] 이전, 다음 버튼 위치 수정
  Frontend/src/components/common/Header.module.css
  Frontend/src/components/survey/Switch.module.css
  Frontend/src/pages/auth/Survey.module.css
Due: Frontend

feat: 유입된 경로 확인 가능한 ga 기능 추가 및 경로 매핑 #S12P21B107-185
  Frontend/src/hooks/useAnalytics.ts
Due: Frontend

[refactor/juhee] favicon, title 수정
  Frontend/index.html
  Frontend/public/favicon.ico
Due: Frontend

Path conditions:
  Backend: (any of: backend/**) or (any of: Backend/**)
  Frontend: (any of: frontend/**) or (any of: Frontend/**)
