Repository SSAFY12-B107/OmyPIc: changes, and which Jenkins stages are due for each by the changed paths.
All: Backend, Frontend

Path conditions:
  Backend: (any of: backend/**) or (any of: Backend/**)
  Frontend: (any of: frontend/**) or (any of: Frontend/**)

[feat] pwa 설정
  Frontend/dist-node/vite.config.d.ts
  Frontend/index.html
  Frontend/public/favicon.ico
  Frontend/public/web-app-manifest-192x192.png
  Frontend/public/web-app-manifest-512x512.png
  Frontend/src/hooks/useUserInfo.ts
  Frontend/src/pages/script/ScriptMain.tsx
  Frontend/src/pages/test/TestMain.tsx
  Frontend/src/vite-env.d.ts
  Frontend/tsconfig.tsbuildinfo
  Frontend/vite.config.ts
Due: Frontend

[fix] Jenkinsfile.cd update
  Jenkinsfile.cd
Due: none

[feat]profile, survey 동시 제출 함수 구현, survey css 수정
  Frontend/src/components/survey/GeneralSurvey.module.css
  Frontend/src/components/survey/Tip.module.css
  Frontend/src/hooks/useUser.ts
  Frontend/src/pages/auth/Profile.tsx
  Frontend/src/pages/auth/Survey.tsx
Due: Frontend

[test] Jenkins CD Test 1
  MRTEST.txt
Due: none

[fix/yunha]새로운 사용자 추가 로직 수정 완료료
  Backend/api/auth.py
  Backend/api/users.py
  Backend/schemas/user.py
  Backend/services/user.py
Due: Backend

[chore] pwa 상대경로 에러, 사용안하는 변수 선언 해결
  Frontend/src/components/test/AverageGradeChart.tsx
  Frontend/src/components/test/DetailFeedback.tsx
  Frontend/src/pages/test/FeedBack.tsx
  Frontend/src/pages/test/TestExam.tsx
  Frontend/src/pages/test/TestMain.tsx
  Frontend/tsconfig.app.json
  Frontend/tsconfig.tsbuildinfo
Due: Frontend

[fix] Jenkinsfile.cd update 2
  Jenkinsfile.cd
Due: none

[fix] 타입 오류 해결
  Frontend/src/components/script/ScriptBox.tsx
  Frontend/src/components/survey/Switch.tsx
  Frontend/src/contexts/HeaderContext.tsx
  Frontend/src/pages/auth/AuthCallback.tsx
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/script/ScriptMain.module.css
  Frontend/src/routes/AuthRoutes.tsx
Due: Frontend

Merge branch 'dev-front' of https://lab.ssafy.com/s12-ai-speech-sub1/S12P21B107 into script
  Frontend/src/hooks/useUser.ts
  Frontend/src/pages/home/Home.tsx
Due: Frontend

[fix] 타입 오류 해결
  Frontend/src/pages/auth/Survey.tsx
Due: Frontend

[chore/yunha]env, requirements.txt 업데이트트
  Backend/.env.example
  Backend/requirements.txt
Due: Backend

[chore/yunha]mongodb 불필요한 프린트문 수정
  Backend/db/mongodb.py
  Backend/prometheus.yml
Due: Backend

[chore/yunha]불필요한 파일 제거거
  Backend/prometheus.yml
Due: Backend

[chore] pwa 안쓰는 변수 선언 문제 해결, user_pk axios 경로에서 제거
  Frontend/src/hooks/useHistory.ts
  Frontend/src/hooks/useUser.ts
  Frontend/src/pages/auth/Profile.tsx
  Frontend/src/pages/test/TestExam.tsx
  Frontend/src/pages/test/TestMain.tsx
Due: Frontend

[fix] 타입 및 경로 오류 해결
  Frontend/src/api/apiClient.ts
  Frontend/src/hooks/useSurvey.ts
  Frontend/src/hooks/useUserInfo.ts
  Frontend/src/pages/script/ScriptDetail.tsx
  Frontend/src/pages/script/ScriptList.tsx
  Frontend/src/pages/script/ScriptWrite.tsx
Due: Frontend

[feat] 사용자 정보, survey 제출 기능
  Frontend/src/components/survey/MultiChoice.tsx
  Frontend/src/hooks/useUser.ts
Due: Frontend

[chore/yunha]backend merge test 1
  Backend/README.md
Due: Backend

[test] Backend CI Test 2
  Backend/README.md
  MRTEST.txt
Due: Backend

[fix] Backend/Dockerfile update
  Backend/Dockerfile
Due: Backend

[fix] Backend/Dockerfile pip version update
  Backend/Dockerfile
Due: Backend

[feat] ai script 문제해결
  Backend/services/ai_script.py
Due: Backend

[feat]사용자 profile, survey 정보 제출
  Frontend/src/api/apiClient.ts
  Frontend/src/hooks/useUser.ts
  Frontend/src/pages/auth/Survey.tsx
Due: Frontend

[feat] llm 이 유저 커스텀 질문및 기본질문 반영하도록 구현
  Backend/api/deps.py
  Backend/services/ai_script.py
Due: Backend

[fix] 토큰 갱신 요청 보내는 코드 수정
  Frontend/src/api/apiClient.ts
Due: Frontend

[fix] 발음듣기 로직 수정
  Frontend/src/components/script/ScriptBox.module.css
  Frontend/src/components/script/ScriptBox.tsx
  Frontend/src/pages/script/ScriptDetail.tsx
Due: Frontend

[fix] 질문 상세 페이지에서 뒤로가기 누를 때 스크립트 작성 페이지로 이동하는 문제 해결
  Frontend/src/contexts/HeaderContext.tsx
Due: Frontend

[fix/yunha]스크립트, 모의고사사 생성 횟수 제한 기능 작동하도록 수정
  Backend/api/problems_api.py
  Backend/api/tests_api.py
  Backend/models/user.py
Due: Backend

[feat] pwa build 과정 오류 해결 - 선언 후 사용안한 변수 제거 - data(json 파일) src 경로에 직접 추가 - 로그인 버튼 타입 명시
  Frontend/src/components/auth/LoginButtons.tsx
  Frontend/src/pages/auth/Profile.tsx
  Frontend/tsconfig.app.json
  Frontend/tsconfig.tsbuildinfo
Due: Frontend

[chore] 테스트 응시후 모의고사 기록 컴포넌트 로딩 처리 -props 값 string으로만 지정되어있어 null, undefined 추가 명시 -props로 null, undefined 전달받을 경우 '-'으로 나오게 처리
  Frontend/src/components/test/RecordItem.tsx
  Frontend/src/pages/test/TestMain.tsx
Due: Frontend

[fix] requirements.txt 필요없는거 제거 및 README 작성
  Backend/requirements.txt
Due: Backend

[fix] 발음 오디오 캐싱 안되는 문제 해결
  Frontend/src/components/script/ScriptBox.module.css
  Frontend/src/components/script/ScriptBox.tsx
  Frontend/src/hooks/usePronunciation.ts
Due: Frontend

[fix] requirements.txt를 필요한것만 추출
  Backend/requirements.txt
Due: Backend

[chore] index.html에 언어 kr로 바꾸기, titile 변경하기기
  Frontend/index.html
Due: Frontend

[fix] README.md에 requirements.txt에 전달사항 작성
  Backend/README.md
Due: Backend

[fix] requirements.txt영어로 주석 변경
  Backend/requirements.txt
Due: Backend

[refactor] survey 폼 유효성 검증 및 에러 메시지 표시
  Frontend/src/components/survey/GeneralSurvey.module.css
  Frontend/src/components/survey/GeneralSurvey.tsx
  Frontend/src/pages/auth/Profile.module.css
  Frontend/src/pages/auth/Profile.tsx
  Frontend/src/pages/auth/Survey.module.css
  Frontend/src/pages/auth/Survey.tsx
Due: Frontend

[style] reset.css에 letterspacing 추가
  Frontend/src/assets/styles/reset.css
Due: Frontend

[fix] 쿠키도메인 추가
  Backend/api/auth.py
  Backend/core/config.py
Due: Backend

[refactor/yunha]whisper 모델 api 활용 모델로 변경
  Backend/api/tests_api.py
  Backend/services/audio_processor.py
  Backend/services/evaluator.py
Due: Backend
