Repository SSAFY12-B107/OmyPIc: changes, and which Jenkins stages are due for each by the changed paths.
All: Backend, Frontend

Backend:
                      steps {
                          script {
                              buildAndPushImage("${BACKEND_IMAGE}", "./backend")
                          }
                      }
                  

Frontend:
                      steps {
                          script {
                              buildAndPushImage("${FRONTEND_IMAGE}", "./frontend")
                          }
                      }
                  

[refactor/yunha]로그인 유저 검증 함수 수정, 새로운 유저 생성 시 시험 제한 필드 추가
  Backend/api/deps.py
  Backend/services/user.py
Due: Backend

[fix/yunha]유저 상세 정보 오류 해결(필드 누락 문제제)
  Backend/api/auth.py
  Backend/api/users.py
  Backend/schemas/user.py
Due: Backend

[chore] 이미지 태그 alt 속성 추가
  Frontend/src/components/home/CharacterChange.tsx
  Frontend/src/pages/script/ScriptWrite.tsx
Due: Frontend

[fix] /로 인한 오류 수정
  Frontend/src/data/surveyData.json
Due: Frontend

[fix] 스크립트 주제 메인 페이지를 거쳐야 하는 오류 수정
  Frontend/src/pages/home/Home.tsx
  Frontend/src/pages/script/ScriptMain.tsx
  Frontend/src/store/authSlice.ts
Due: Frontend

[refactor/yunha]스크립트 횟수 제한 기능 추가
  Backend/api/problems_api.py
  Backend/api/tests_api.py
  Backend/models/user.py
  Backend/schemas/problem.py
  Backend/schemas/test.py
  Backend/scripts/change_limt_field.py
Due: Backend

[feat] Jenkinsfile.ci MatterMost 연동
  Jenkinsfile.ci
Due: none

[feat]Jenkins - MatterMost연동
  Jenkinsfile.ci
Due: none

[test] Jenkins-MM Test1
  Backend/README.md
  Frontend/README.md
Due: Backend, Frontend

[refactor/yunha]유저 생성시, limit 필드 추가가
  Backend/services/user.py
Due: Backend

[test] Jenkins-MM Test2
  Jenkinsfile.ci
Due: none

[test] Jenkins-MM Test3
  Jenkinsfile.ci
Due: none

[test] Jenkins-MM Test5
  Backend/README.md
  Frontend/README.md
Due: Backend, Frontend

[refactor/yunha]액세스 토큰 교환 로직 수정, 유저 상세 조회 페이지 로그인한 유저의 access token 확인하는 로직으로 변경 완료.
  Backend/api/auth.py
  Backend/api/users.py
  Backend/core/config.py
Due: Backend

[fix]Jenkins-MM pipeline
  Jenkinsfile.ci
Due: none

[test] Jenkins-MM Test6
  MRTEST.txt
Due: none

[fix] Jenkinsfile.CI update
  Jenkinsfile.ci
Due: none

[test] Jenkins-MM Test 7
  MRTEST.txt
Due: none

[test] Jenkins-MM Test 8
  MRTEST.txt
Due: none

[test] Jenkins-MM Test 10
  MRTEST.txt
Due: none

[fix] Jenkins-MM Test 11
  Frontend/src/pages/auth/ProfilePage.module.css
Due: Frontend

[test] Jenkins-MatterMost Test
  MRTEST.txt
Due: none

[chore] 백에서 보내주는 데이터로 변경
  Frontend/src/hooks/useProblems.ts
  Frontend/src/pages/script/ScriptDetail.tsx
Due: Frontend

[chore] 차트 데이터 없을 경우 ui 처리
  Frontend/src/components/test/AverageGradeChart.module.css
  Frontend/src/components/test/AverageGradeChart.tsx
Due: Frontend

[chore] 헤더 모의고사 페이지 에러 해결
  Frontend/src/components/common/Header.tsx
  Frontend/src/contexts/HeaderContext.tsx
Due: Frontend

[chore] 모의고사 페이지 test(실험)
  Frontend/src/pages/test/TestExam.tsx
  Frontend/src/pages/test/TestMain.module.css
  Frontend/src/pages/test/TestMain.tsx
Due: Frontend

[chore] 모의고사 데이터 리덕스 설정 변경경
  Frontend/src/store/store.ts
  Frontend/src/store/testSlice.ts
Due: Frontend

[feat] refresh-token 엔드포인트 생성및 로직 확인
  Backend/api/auth.py
  Backend/api/users.py
  Backend/services/auth.py
Due: Backend

[feat] Auth 사용자 callback 처리
  Frontend/src/App.tsx
  Frontend/src/components/auth/AuthCallback.tsx
  Frontend/src/components/auth/LoginButtons.tsx
  Frontend/src/pages/auth/AuthCallback.tsx
  Frontend/src/routes/AuthRoutes.tsx
Due: Frontend

[fix] 스크립트 생성 개수 오류 수정
  Frontend/src/pages/script/ScriptDetail.tsx
Due: Frontend

[chore] 스크립트 질문 없는 경우 처리
  Frontend/src/pages/script/ScriptList.tsx
Due: Frontend

[test] 임시 주소 추가
  Frontend/src/hooks/useUserInfo.ts
Due: Frontend

[feat/yunha]user_id 사용하는 라우터 access_token 확인해서 작동하도록 모두 수정 완료.
  Backend/api/deps.py
  Backend/api/problems_api.py
  Backend/api/tests_api.py
  Backend/api/users.py
  Backend/schemas/test.py
Due: Backend

[refactor/yunha]access_token 만료 시, 프론트 엔드에서 'token_expired' 에러 확인 할 수 있도록 수정 완료.
  Backend/api/deps.py
Due: Backend

[fix] 로그인, 로그아웃 로직 수정
  Frontend/src/api/apiClient.ts
  Frontend/src/hooks/useUserInfo.ts
  Frontend/src/pages/auth/AuthCallback.tsx
Due: Frontend

[fix/yunha]access token 반환 로직 datetime 인식하도록 수정
  Backend/api/auth.py
Due: Backend

[fix/yunha]refresh 토큰 재발급 엔드포인트 수정 완료
  Backend/api/auth.py
Due: Backend

[fix] Jenkins CICD FIles update
  Jenkinsfile.cd
  Jenkinsfile.ci
Due: none

Path conditions:
  Backend: (any of: backend/**) or (any of: Backend/**)
  Frontend: (any of: frontend/**) or (any of: Frontend/**)
