Repository SSAFY12-B107/OmyPIc: changes, and which Jenkins stages are due for each by the changed paths.
All: Backend, Frontend

Backend:
                      steps {
                          script {
                              buildAndPushImage("${BACKEND_IMAGE}", "./backend")
                          }
                      }
                  

Frontend:
                      steps {
                          script {
                              buildAndPushImage("${FRONTEND_IMAGE}", "./frontend")
                          }
                      }
                  

[refactor/yunha]whisper 모델 api 활용 모델로 변경
  Backend/services/test_service.py
Due: Backend

[fix/yunha]실전 모의고사 자기소개 문제 안들어가는 문제 해결
  Backend/services/test_generator.py
Due: Backend

[refactor] 프로그래스바 추가
  Frontend/src/components/survey/GeneralSurvey.tsx
  Frontend/src/components/survey/MultiChoice.module.css
  Frontend/src/components/survey/MultiChoice.tsx
  Frontend/src/data/surveyData.json
  Frontend/src/pages/auth/Survey.module.css
  Frontend/src/pages/auth/Survey.tsx
Due: Frontend

[fix/yunha]모의고사 생성 limit 조회 제대로 안되는 문제 해결결
  Backend/api/tests_api.py
  Backend/requirements.txt
Due: Backend

[feat] 라우터 가드 설정 완료 #S12P21B107-141
  Frontend/src/App.tsx
  Frontend/src/hooks/useUserInfo.ts
  Frontend/src/pages/auth/Survey.tsx
  Frontend/src/routes/ProtectedRoutes.tsx
Due: Frontend

[fix] 사용자 정보 업데이트 API 개선 및 오류 처리 추가
  Backend/api/users.py
  Backend/core/config.py
  Backend/services/ai_script.py
Due: Backend

[refactor]progress bar 디자인 변경
  Frontend/src/data/surveyData.json
  Frontend/src/hooks/useUser.ts
Due: Frontend

[fix] 모의고사 페이지 에러 수정 - 다음 버튼 로딩 에러 해결 - 시험 생성 버튼 로딩 추가 - 레코드 카드 업데이트 (새로고침 필요) 해결중
  Frontend/tsconfig.tsbuildinfo
Due: Frontend

[fix] 모의고사 페이지 에러 수정 - 다음 버튼 로딩에러 해결 - 시험 생성 버튼 로딩 추가 - 레코드 카드 업데이트 (새로고침 필요) 해결중
  Frontend/src/components/test/AverageGradeChart.module.css
  Frontend/src/components/test/FeedbackModal.module.css
  Frontend/src/components/test/FeedbackModal.tsx
  Frontend/src/components/test/RecordItem.module.css
  Frontend/src/components/test/RecordItem.tsx
  Frontend/src/components/test/TestTypeButton.module.css
  Frontend/src/components/test/TestTypeButton.tsx
  Frontend/src/pages/test/TestExam.tsx
  Frontend/src/pages/test/TestMain.module.css
  Frontend/src/pages/test/TestMain.tsx
Due: Frontend

[fix/yunha]로그아웃 시 refresh_token 삭제 안되는 오류 수정 완료
  Backend/api/auth.py
  Backend/core/config.py
Due: Backend

[feat/yunha]카테고리 데이터 변경 스크립트 추가가
  Backend/scripts/update_categories.py
Due: Backend

[fix] 401에러 처리 #S12P21B107-142
  Frontend/src/api/apiClient.ts
Due: Frontend

[fix] 스크립트 작성 페이지 벗어났을 난 후 다시 들어갔을 때 저장된 응답 나오는 문제 해결
  Frontend/src/pages/script/ScriptDetail.tsx
  Frontend/src/pages/script/ScriptWrite.tsx
Due: Frontend

[feat/yunha]네이버 로그인 기능 추가가
  Backend/api/auth.py
Due: Backend

[feat/jaeuk] user/me 날려버린거 복구구
  Backend/api/users.py
Due: Backend

[refactor/yunha]중복 api 및 필요 없는 주석 삭제
  Backend/api/deps.py
  Backend/api/problems_api.py
  Backend/api/users.py
  Backend/main.py
Due: Backend

[chore/yunha]env 템플릿 수정정
  Backend/.env.example
Due: Backend

[refactor]사용자 생성 API 수정
  Frontend/src/hooks/useUser.ts
  Frontend/src/pages/auth/AuthCallback.tsx
  Frontend/tsconfig.tsbuildinfo
Due: Frontend

[chore/yunha]env 템플릿 수정
  Backend/.env.example
Due: Backend

[fix] 문제 상세 뒤로가기 문제 해결
  Frontend/src/contexts/HeaderContext.tsx
Due: Frontend

[fix/jaeuk] 롤플레잉 -> 롤프레이이
  Backend/services/ai_script.py
Due: Backend

[fix] Jenkins CI update
  Jenkinsfile.ci
Due: none

[fix/jaeuk] gemini로 꼬리질문 모델 수정
  Backend/services/ai_script.py
Due: Backend

[fix] 모의고사 기록 컴포넌트 제때 업데이트 문제 해결중중
  Frontend/src/components/test/RecordItem.tsx
  Frontend/src/hooks/useHistory.ts
  Frontend/src/pages/test/TestExam.tsx
  Frontend/src/pages/test/TestMain.tsx
Due: Frontend

[fix/jaeuk] gemini로 스크립트 생성 모델 수정
  Backend/services/ai_script.py
Due: Backend

[chore/yunha]Backend README.md 파일 업데이트
  Backend/README.md
Due: Backend

[refactor/yunha]유저 모델 limits 필드 이전 버전 코드 업데이트(test_limits에서 변경)
  Backend/api/auth.py
  Backend/api/tests_api.py
  Backend/api/users.py
  Backend/services/user.py
Due: Backend

[refactor] 네이버 로그인 제거, '현재 등급 없음 추가', css 변경
  Frontend/src/components/auth/LoginButtons.tsx
  Frontend/src/components/survey/MultiChoice.module.css
  Frontend/src/pages/auth/Profile.tsx
Due: Frontend

[chore/yunha]Backend 불필요한 파일 제거
  Backend/langchain_lee.ipynb
Due: Backend

[refactor/yunha]테스트 완료 후 유저 평균 점수 계산 기능 업데이트
  Backend/models/user.py
  Backend/services/test_service.py
Due: Backend

[chore/yunha]db 수정용 스크립트 파일들 수정/삭제
  Backend/scripts/change_limt_field.py
  Backend/scripts/make_problem.py
  Backend/scripts/make_question.py
  Backend/scripts/migrate_users.py
Due: Backend

[feat/yunha]사용자 스크립트, 모의고사 제한 초기화(매일 오전 12:00) 스케쥴러 추가
  Backend/main.py
  Backend/scripts/scheduler.py
  Backend/scripts/userlimit_manual_reset.py
Due: Backend

[feat/yunha]locust 부하테스트용 파일, requirements.txt 업데이트트
  Backend/locustfile.py
  Backend/prepare-test-users.py
  Backend/requirements.txt
Due: Backend

[fix/jaeuk] x-header추가
  Backend/main.py
Due: Backend

[fix] 엑세스 토큰 갱신 문제 해결 #S12P21B107-142
  Frontend/src/api/apiClient.ts
Due: Frontend

[refactor] 로그인 시 로딩스피닝 추가
  Frontend/src/pages/auth/AuthCallback.tsx
Due: Frontend

[fix] 모의고사 오류 해결 - 다음 버튼 로딩 에러 (해결) - 시험 생성 버튼 로딩 추가 (해결) - 마지막 문제 왜 안나오는 문제 (해결) - 단일문제 피드백 height ui 변경(해결) - 평균 그래프 계산로직 백에 추가 후 ui에 반영(해결) - 모의고사 기록 redirect 후 즉시 업데이트 (해결)
  Frontend/src/components/test/AverageGradeChart.tsx
  Frontend/src/components/test/FeedbackModal.module.css
  Frontend/src/components/test/RecordItem.module.css
  Frontend/src/components/test/RecordItem.tsx
  Frontend/src/hooks/useHistory.ts
  Frontend/src/pages/test/TestExam.tsx
  Frontend/src/pages/test/TestMain.tsx
Due: Frontend

Merge branch 'dev-front' of https://lab.ssafy.com/s12-ai-speech-sub1/S12P21B107 into dev-front
  Frontend/src/App.tsx
  Frontend/src/api/apiClient.ts
  Frontend/src/components/home/LevelChart.tsx
  Frontend/src/hooks/useTestDate.ts
  Frontend/src/pages/script/ScriptMain.module.css
  Frontend/src/pages/script/ScriptWrite.tsx
Due: Frontend

[refactor] 로그인 페이지 스타일 리팩토링
  Frontend/src/components/auth/LoginButtons.module.css
Due: Frontend

[fix] 피드백 페이지 css 깨지는거 해결
  Frontend/src/components/test/AverageGradeChart.tsx
  Frontend/src/components/test/DetailFeedback.module.css
  Frontend/src/components/test/OveralFeedback.module.css
  Frontend/src/pages/test/FeedBack.module.css
  Frontend/src/pages/test/TestMain.tsx
Due: Frontend

Path conditions:
  Backend: (any of: backend/**) or (any of: Backend/**)
  Frontend: (any of: frontend/**) or (any of: Frontend/**)
