Repository SSAFY12-B107/OmyPIc: changes, and which Jenkins stages are due for each by the changed paths.
All: Backend, Frontend

Backend:
                      steps {
                          script {
                              buildAndPushImage("${BACKEND_IMAGE}", "./backend")
                          }
                      }
                  

Frontend:
                      steps {
                          script {
                              buildAndPushImage("${FRONTEND_IMAGE}", "./frontend")
                          }
                      }
                  

[fix] 모의고사 오류 해결 - 처음 가입자 평균그래프, 모의고사 기록 카드 기본text 제공 (해결) - 안쓰는 선언 변수 제거 - 피드백 페이지 접근시 로딩 스피너 띄우기 (임시해결)
  Frontend/src/components/test/AverageGradeChart.tsx
  Frontend/src/components/test/OveralFeedback.tsx
  Frontend/src/components/test/RecordItem.module.css
  Frontend/src/components/test/RecordItem.tsx
  Frontend/src/pages/test/TestExam.module.css
  Frontend/src/pages/test/TestMain.tsx
Due: Frontend

[fix] 모의고사 페이지 - 녹음 버튼 시각화 변경 (해결) - 첫 사용자, 그래프 빈 화면 띄우는 걸로 임시 해결(차트 isLoading이 없음)
  Frontend/src/components/test/AverageGradeChart.tsx
  Frontend/src/pages/test/TestExam.module.css
  Frontend/src/pages/test/TestExam.tsx
Due: Frontend

[fix] 안쓰는 변수 제거(ts 배포 에러방지)
  Frontend/src/pages/test/TestMain.tsx
Due: Frontend

[fix] 스크립트 페이지 뒤로가기 문제 해결
  Frontend/src/components/common/Header.tsx
  Frontend/src/contexts/HeaderContext.tsx
Due: Frontend

[chore] 메인 페이지 차트 IL 이하 보이지 않는 코드 수정
  Frontend/src/components/home/LevelChart.tsx
Due: Frontend

[chore] 빠진 중괄호 추가
  Frontend/dist-node/src/hooks/useHistory.d.ts
  Frontend/src/api/apiClient.ts
Due: Frontend

[fix] 모의고사 에러 - 레코드 아이템 안쓰는 변수 제거 - 차트 첫 접근시 ui 수정정
  Frontend/src/components/test/AverageGradeChart.tsx
Due: Frontend

[fix] 안쓰는 변수 제거거
  Frontend/src/components/test/RecordItem.tsx
Due: Frontend

[fix] 메인 페이지 버그 수정
  Frontend/src/components/script/ScriptModal.tsx
  Frontend/src/hooks/useProblems.ts
  Frontend/src/pages/home/Home.tsx
Due: Frontend

[refactor/yunha]ai 모의고사 평가 기능 개선 - 응답 평가 중 오류 시, 평가 점수 "N/A"처리 및 최하 점수 로직 개선, 피드백 프롬프트 수정
  Backend/services/evaluator.py
Due: Backend

[fix] 모의고사 에러 - 단일 문제 피드백 창 세로 스크롤바 추가
  Frontend/src/components/test/FeedbackModal.module.css
Due: Frontend

[fix] Jenkinsfile.ci update2
  Jenkinsfile.ci
Due: none

[fix/yunha]whisper 언어 모든 언어 인식으로 변경경
  Backend/api/tests_api.py
  Backend/services/audio_processor.py
  Backend/services/test_service.py
Due: Backend

[fix] 디데이가 작동되지 않는 오류 해결
  Frontend/src/hooks/useTestDate.ts
  Frontend/src/pages/home/Home.tsx
Due: Frontend

[feat] 배포 전 dev-front -> front merge
  Frontend/src/api/apiClient.ts
  Frontend/src/components/auth/LoginButtons.tsx
  Frontend/src/hooks/useUser.ts
  Frontend/src/pages/auth/AuthCallback.tsx
Due: Frontend

backend merge 전 수정정
  Backend/api/auth.py
  Backend/api/tests.py
  Backend/api/users.py
Due: Backend

[chore/yunha]dev merge 충돌 해결을 위한 커밋밋
  Backend/README.md
Due: Backend

[feat] Backend files update
  Backend/.env.example
  Backend/README.md
  Backend/api/deps.py
  Backend/api/problems_api.py
  Backend/api/tests_api.py
  Backend/core/config.py
  Backend/db/mongodb.py
  Backend/locustfile.py
  Backend/main.py
  Backend/models/script.py
  Backend/models/test.py
  Backend/models/user.py
  Backend/prepare-test-users.py
  Backend/requirements.txt
  Backend/schemas/problem.py
  Backend/schemas/test.py
  Backend/schemas/user.py
  Backend/scripts/make_problem.py
  Backend/scripts/make_question.py
  Backend/scripts/scheduler.py
  Backend/scripts/update_categories.py
  Backend/scripts/upload_to_s3.py
  Backend/scripts/userlimit_manual_reset.py
  Backend/services/ai_script.py
  Backend/services/ai_test.py
  Backend/services/audio_processor.py
  Backend/services/auth.py
  Backend/services/evaluator.py
  Backend/services/oauth.py
  Backend/services/test_generator.py
  Backend/services/test_service.py
  Backend/services/user.py
Due: Backend

[refactor]로그아웃 처리 완료
  Frontend/src/components/auth/LoginButtons.tsx
  Frontend/src/hooks/useUser.ts
Due: Frontend

[fix] 모의고사 메인 페이지 재귀 해결 - historydata 조회 재귀(무한 폴링) 해결
  Frontend/src/hooks/useHistory.ts
  Frontend/src/pages/test/TestMain.tsx
Due: Frontend

[fix] dev dev-front diff solve
  Backend/Dockerfile
  Backend/api/problems.py
  Backend/core/jwt_utils.py
  Backend/db/make_problem.py
  Backend/db/make_question.py
  Backend/services/s3_service.py
  Frontend/README.md
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/App.css
  Frontend/src/assets/images/google_login.png
  Frontend/src/assets/images/intro1.png
  Frontend/src/assets/images/intro2.png
  Frontend/src/assets/images/logo.png
  Frontend/src/assets/images/naver_login.png
  Frontend/src/assets/styles/reset.css
  Frontend/src/components/auth/Introduction.module.css
  Frontend/src/components/auth/LoginButtons.tsx
  Frontend/src/components/common/Navbar.module.css
  Frontend/src/components/common/NavigationButton.module.css
  Frontend/src/components/home/CharacterChange.module.css
  Frontend/src/components/script/QuestionBox.module.css
  Frontend/src/hooks/useUser.ts
  Frontend/src/pages/Loading.module.css
  Frontend/src/pages/Loading.tsx
  Frontend/src/pages/auth/Login.module.css
  Frontend/src/pages/script/ScriptList.module.css
  Jenkinsfile.cd
  Jenkinsfile.ci
  chages.patch
  changes.patch
  dev_files.txt
  devfront_files.txt
Due: Backend, Frontend

[fix] dev-front + dev Merge conflict solve
  Backend/Dockerfile
  Frontend/src/assets/styles/rest.css
  Frontend/src/hooks/useUser.ts
  Frontend/src/pages/auth/ProfilePage.module.css
  Frontend/src/pages/auth/ProfilePage.tsx
  Frontend/styles/main.css
Due: Backend, Frontend

[fix] 대소문자 불일치 해결
  Frontend/src/pages/test/FeedBack.tsx
Due: Frontend

[chore/yunha]merge시 추가된 불필요한 파일들 삭제
  Backend/api/problems.py
  Backend/core/jwt_utils.py
  Backend/db/make_problem.py
  Backend/db/make_question.py
  Backend/services/s3_service.py
Due: Backend

[fix] 대소문자 오류 해결
  Frontend/src/components/test/DetailFeedback.tsx
  Frontend/src/components/test/OveralFeedback.tsx
Due: Frontend

[fix] Backend/Dockerfile && requirements update
  Backend/Dockerfile
  Backend/requirements.txt
Due: Backend

[fix] requirements & dockerfile update
  Backend/Dockerfile
  Backend/requirements.txt
Due: Backend

[fix] requirements
  Backend/requirements.txt
Due: Backend

[fix] Jenkinsfile & backend files update
  Jenkinsfile.cd
  Jenkinsfile.ci
Due: none

[fix] requirements update
  Backend/requirements.txt
Due: Backend

[fix] Backend/Dockerfile python version update
  Backend/Dockerfile
Due: Backend

[test] Dockerfile test 1
  Backend/docker-compose.yml
Due: Backend

[fix] back/Dockerfile + requirements
  Backend/Dockerfile
  Backend/requirements.txt
Due: Backend

[refactor] https 주소 변경
  Frontend/src/components/auth/LoginButtons.tsx
  Frontend/src/pages/auth/AuthCallback.tsx
Due: Frontend

[fix/yunha]https 요청 http로 수정정
  Frontend/src/components/auth/LoginButtons.tsx
Due: Frontend

[fix/jaeuk] 테스트용
  Backend/README.md
  Frontend/README.md
Due: Backend, Frontend

[fix/yunha]http 요청 https로 수정
  Frontend/src/components/auth/LoginButtons.tsx
Due: Frontend

[fix] 로그인 API 요청 로직 변경경
  Frontend/dist-node/src/hooks/useHistory.d.ts
  Frontend/dist-node/src/hooks/useSurvey.d.ts
  Frontend/dist-node/src/hooks/useUser.d.ts
  Frontend/index.html
  Frontend/src/hooks/useSurvey.ts
  Frontend/src/hooks/useUser.ts
  Frontend/src/pages/auth/AuthCallback.tsx
  Frontend/src/pages/auth/Profile.tsx
  Frontend/src/pages/auth/Survey.tsx
  Frontend/tsconfig.tsbuildinfo
Due: Frontend

Path conditions:
  Backend: (any of: backend/**) or (any of: Backend/**)
  Frontend: (any of: frontend/**) or (any of: Frontend/**)
